/* Add a background color to the header element */
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(40, 48, 57);
}

body {
    background-color: black;
}

/* Add a fun background color to the main element */
main {
    background-color: darkslategray;
}

/* Align the h1 containing your name in the center of the header*/

.page-header {
    color: whitesmoke;
    text-align: center;
}

/* Make your p tag a different color and italic */

p {
    color:whitesmoke;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

.about {
    margin-top: 20px;
}


/* Put a border around your image */

img {
    margin: auto;
    display: block;
    width: 400px;
    border-radius: 10%;
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
}

/* Change the font-family of your list */

.fun-fact {
    list-style: none;
    text-align: center;
    line-height: 30px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a background color to the footer element */

footer {
    background-color: rgb(77, 44, 44);
}