/* Add a background color to the header element */
header {
    background-color:darkslategray;
}

body {
    background-color: black;
}

/* Add a fun background color to the main element */
main {
    background-color: darkslategray;
}

/* Align the h1 containing your name in the center of the header*/

.page-header {
    color: whitesmoke;
    text-align: center;
}

/* Make your p tag a different color and italic */

p {
    color:whitesmoke;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

/* Put a border around your image */

img {
    border-radius: 10%;
    border-top: 5px solid whitesmoke;
    border-bottom: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
}

/* Change the font-family of your list */

.fun-fact {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add a background color to the footer element */

footer {
    background-color: darkslategray;
}